.picture-left {
  width: 510px;
  height: 509px;
  left: 405px;
  top: 1890px;
}
.bouton {
  background-color: #b48fdb;
  color: white;
  font-weight: bold;
}
.text {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  width: 510px;
  height: 509px;
}

h2 {
  font-weight: bolder;
}
