.header h2{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 3em;
}
.header p{
    font-family: 'Poppins', sans-serif;
    color: #464646;
    font-size: 1em;
    line-height: 1.6em;
}

img{
    padding: 1em;
    border-radius: 2em;
}

