
nav 
{
position: absolute;
width: 0px;
margin-left: 480px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 20px;
color: #362A43;

}

/* aside
{
position: absolute;
right: 9.9%;
top: 2.44%;
bottom: 99.36%;

} */
#home h1
{

width: 445px;

margin-left: 100px;
margin-top: 30%;
font-family: Rubik;
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 72px;
color: #362A43;

}
#home p
{
width: 372px;
height: 78px;
margin-left: 100px;
margin-top: 50px;
margin-bottom: 10%;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #464646;
}
#home .contact
{
  
width: 200px;
height: 60px;
margin-left: 100px;
top: 534px;

background: #B48FDB;
border-radius: 10px 0px 0px 10px;
}
#home button
{

width: 60px;
height: 60px;
top: 534px;
margin-right: -10px;
background: #FFB3C9;
border-radius: 10px;
color: white;
}
.image1
{
   position: absolute;
height: 450px;
width: 450px;
margin-top: 50px;


}
.image2
{
 
    width: 300.33px;
    height: 500.41px;
    margin-left: 90px;
    margin-top: -130px;
    filter: drop-shadow(0 0 0.75rem rgb(213, 20, 220));
        
}
.image3
{
    position: relative;
    height: 60px;
    width: 60px;
    left: 5%;
    bottom: 200px;
}
.image4
{
    position: relative;
width: 250px;
height: 250px;
margin-left: -33px;
top: 150px;


}
.image5
{
   position: absolute;
    height: 50px;
    width: 50px;
    right: 60%;
    bottom: 290px ;
   
    
}
.image6
{
    position: relative;
    height: 30px;
    width: 30px;
    right: 15%;
    bottom: 320px;
}

